/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "flowbite/src/themes/default";

@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

@theme{
 --color-fondo: #1b0c1a;
 --color-fondo-oscuro: #2d222f;
 --color-gris-rosado: #765d67;
 --color-vino-oscuro: #4B2138;
 --color-rosado-oscuro: #6D3C52;

 --font-cursiva:"Concert One", sans-serif;
}

.font-cursiva{
  font-size: 2rem;
}
